<footer class="site-footer">
  <hr>

  <div class="container">
    <p><a href="http://twitter.com/jQSPWS">{{icon 'twitter'}} Twitter</a> | <a href="http://facebook.com/jQSPWS">{{icon 'facebook'}} Facebook</a> | <a href="{{repository}}">{{icon 'github'}} GitHub</a></p>

    <p>&copy; {{copyright}} | Licensed <a href="{{license.url}}">{{license.type}}</a></p>
  </div>
</footer>

<ul>
{{#each navs.global}}
  {{> nav_link_with_children}}
{{/each}}
</ul>
