<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{#if title}}{{title}} - {{/if}}SPServices</title>

    <meta name="description" content="{{#if description}}{{description}}{{else}}{{site.description}}{{/if}}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{relative_path nav_path 'assets/styles.css'}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css">

    <link rel="apple-touch-icon" sizes="76x76" href="{{relative_path nav_path 'apple-touch-icon.png'}}">
    <link rel="icon" type="image/png" href="{{relative_path nav_path 'favicon-32x32.png'}}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{relative_path nav_path 'favicon-16x16.png'}}" sizes="16x16">
    <link rel="manifest" href="{{relative_path nav_path 'manifest.json'}}">
    <link rel="mask-icon" href="{{relative_path nav_path 'safari-pinned-tab.svg'}}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>

    {{> header}}

{{#if template}}
{{> (lookup . 'template')}}
{{else}}
{{> default}}
{{/if}}

    {{> footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
  </body>
</html>
