<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p><a href="http://twitter.com/jQSPWS">{{icon 'twitter'}} Twitter</a> | <a href="http://facebook.com/jQSPWS">{{icon 'facebook'}} Facebook</a> | <a href="{{repository}}">{{icon 'github'}} GitHub</a></p>

        <p>&copy; {{copyright}} | Licensed <a href="{{license.url}}">{{license.type}}</a></p>
      </div>
      <div class="col-sm-6">
        <p>Like SPServcices? Please support my work; this is my hobby.</p>

        <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=2ZQS4LK7CT6DW&amp;lc=US&amp;item_name=Sympraxis%20Consulting%20LLC&amp;item_number=SPServices&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate to SPServices" border="0"></a></p>
      </div>
    </div>
  </div>
</footer>
